{% extends 'catalogo/crud/lista.html' %}

{% block titulo_pagina %}Categorías{% endblock %}

{% block titulo %}Categorías{% endblock %}

{% block descripcion %}
    Gestiona las categorías de productos.
{% endblock %}

{% block url_crear %}
    {% url 'catalogo:crear_categoria' %}
{% endblock %}

{% block encabezado %}
<tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th class="text-end">Acciones</th>
</tr>
{% endblock %}

{% block filas %}

{% for categoria in categorias %}
<tr>
    <td>{{ categoria.id }}</td>
    <td class="fw-semibold">{{ categoria.nombre }}</td>
    <td>{{ categoria.descripcion|default:"Sin descripción" }}</td>

    <td class="text-end">

        <a
            href="{% url 'catalogo:editar_categoria' categoria.id %}"
            class="btn btn-sm btn-outline-primary"
        >
            Editar
        </a>

        <a
            href="{% url 'catalogo:eliminar_categoria' categoria.id %}"
            class="btn btn-sm btn-outline-danger"
        >
            Eliminar
        </a>

    </td>
</tr>

{% empty %}

<tr>
    <td colspan="4" class="text-center py-5 text-muted">
        No hay categorías registradas.
    </td>
</tr>

{% endfor %}

{% endblock %}